<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connString" value="Data Source=SGPR;User ID=confown; pwd=Nop6CONF;"/>
    <add key="testStringInsert" value="1,81,284,67"/>
    <add key="pathInsert" value="\C$\HsmNtr\Rivendite\"/>
  </appSettings>
</configuration>